{% extends "base.html" %} 
{% block title %} Home {% endblock %}
{% block styles %}
<style>
    main{
        padding: 100px;
    }

</style>
{% endblock %}
{% block content %}


<!-- LIST SECTION -->
{% if budget_count or transaction_count or categories_count%}
<p>
  You have {{budget_count}} budgets
  <br> 
  You have {{transaction_count}} transactions 
  <br>
  You have {{categories_count}} categories
  <br>
  Total spend: {{transactions_total[0][0]}}
  <br>
  Saved Total: {{saved_transactions[0][0]}}
  <br>
  Saved Transactions :  
  {% for saved in saved_info %}
  {{saved.user_transactions_name}}
  {% endfor %}
</p>
{% endif %}

<div class="table w-full p-2">
  <table class="w-full border">
      <thead>
          <tr class="bg-gray-50 border-b">
              <th class="border-r p-2">
                  <input type="checkbox">
              </th>

              <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                  <div class="flex items-center justify-center">
                      Name
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                      </svg>
                  </div>
              </th>
              <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                  <div class="flex items-center justify-center">
                      Amount
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                      </svg>
                  </div>
              </th>
              <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                <div class="flex items-center justify-center">
                    Budget
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                    </svg>
                </div>
            </th>
            <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                <div class="flex items-center justify-center">
                    Category
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                    </svg>
                </div>
            </th>
              <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                  <div class="flex items-center justify-center">
                      Date
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                      </svg>
                  </div>
              </th>
              <th class="p-10 border-r cursor-pointer text-sm font-thin text-gray-500">
                  <div class="flex items-center justify-center">
                      Action
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                      </svg> -->
                  </div>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-gray-50 text-center">
              <td class="p-2 border-r">
              </td>
              <td class="p-2 border-r">
                 
                <input form="transaction" id='tname' type="text" class="border p-1">
                 
              </td>
              <td class="p-2 border-r">
                <input form="transaction" id='tamount' type="number" class="border p-1">
            </td>
            <td class="p-2 border-r">
                <select id="budget" name="budget" autocomplete="user_transaction_frequency-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    {% for budget in budgets%}
                        <option>
                            {{budget.budget_name}}
                        </option>
                    {% endfor %}
              </select>
              </td>
              <td class="p-2 border-r">
                <select id="category" name="category" autocomplete="user_transaction_category-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    {% for category in categories%}
                    <option>{{category.category_name}}</option>
                    {% endfor %}
                  </select>
              </td>
              <td class="p-2 border-r">
                <input form="transaction" id='tdate' type="date" class="border p-1">
              </td>
              
              
              <td>
                <button type="submit" form="transaction" onclick="sendTransaction()" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin">Add</button>
            </td>
              
          </tr>
          {% for transaction in transactions%}

          <tr class="bg-gray-100 text-center border-b text-sm text-gray-600">
              <td class="p-2 border-r">
                  <input type="checkbox"> 
              </td>
              <td class="p-2 border-r">{{transaction[0].user_transactions_name}}</td>
              <td class="p-2 border-r">{{transaction[0].user_transactions_amount}}</td>
              <td class="p-2 border-r">{{transaction[1].budget_name}}</td>
              <td class="p-2 border-r">{{transaction[2].category_name}}</td>
              <td class="p-2 border-r">{{transaction[0].user_transactions_date}}</td>
              <td>
                  <a href="#" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin">Edit</a>
                  <a href="/transaction/{{transaction[0].user_transactions_id}}" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin">Remove</a>
              </td>
          </tr>
          {% endfor %}
          <!-- <tr class="bg-gray-100 text-center border-b text-sm text-gray-600">
              <td class="p-2 border-r">
                  <input type="checkbox">
              </td>
              <td class="p-2 border-r">2</td>
              <td class="p-2 border-r">Adam Smith</td>
              <td class="p-2 border-r">adam@gmail.com</td>
              <td class="p-2 border-r">Sydney, Australia</td>
              <td>
                  <a href="#" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin">Edit</a>
                  <a href="#" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin">Remove</a>
              </td>
          </tr>
          <tr class="bg-gray-100 text-center border-b text-sm text-gray-600">
              <td class="p-2 border-r">
                  <input type="checkbox">
              </td>
              <td class="p-2 border-r">3</td>
              <td class="p-2 border-r">Jean Doe</td>
              <td class="p-2 border-r">jean@gmail.com</td>
              <td class="p-2 border-r">Sydney, Australia</td>
              <td>
                  <a href="#" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin">Edit</a>
                  <a href="#" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin">Remove</a>
              </td>
          </tr>
          <tr class="bg-gray-100 text-center border-b text-sm text-gray-600">
              <td class="p-2 border-r">
                  <input type="checkbox">
              </td>
              <td class="p-2 border-r">3</td>
              <td class="p-2 border-r">Jean Doe</td>
              <td class="p-2 border-r">jean@gmail.com</td>
              <td class="p-2 border-r">Sydney, Australia</td>
              <td>
                  <a href="#" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin">Edit</a>
                  <a href="#" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin">Remove</a>
              </td>
          </tr>
          <tr class="bg-gray-100 text-center border-b text-sm text-gray-600">
              <td class="p-2 border-r">
                  <input type="checkbox">
              </td>
              <td class="p-2 border-r">3</td>
              <td class="p-2 border-r">Jean Doe</td>
              <td class="p-2 border-r">jean@gmail.com</td>
              <td class="p-2 border-r">Sydney, Australia</td>
              <td>
                  <a href="#" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin">Edit</a>
                  <a href="#" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin">Remove</a>
              </td>
          </tr> -->
      </tbody>
  </table>
</div>
<!-- <div class="sm:px-6 w-full">
    <div class="px-4 md:px-10 py-4 md:py-7">
        <div class="flex items-center justify-between">
            <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">Transactions</p>
            <div class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded">
                <p>Sort By:</p>
                <select aria-label="select" class="focus:text-indigo-600 focus:outline-none bg-transparent ml-1">
                    <option class="text-sm text-indigo-800">Latest</option>
                    <option class="text-sm text-indigo-800">Oldest</option>
                    <option class="text-sm text-indigo-800">Latest</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
        <div class="sm:flex items-center justify-between">
            <div class="flex items-center">
                <a class="rounded-full focus:outline-none focus:ring-2  focus:bg-indigo-50 focus:ring-indigo-800" href=" javascript:void(0)">
                    <div class="py-2 px-8 bg-indigo-100 text-indigo-700 rounded-full">
                        <p>All</p>
                    </div>
                </a>
                <a class="rounded-full focus:outline-none focus:ring-2 focus:bg-indigo-50 focus:ring-indigo-800 ml-4 sm:ml-8" href="javascript:void(0)">
                    <div class="py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full ">
                        <p>Done</p>
                    </div>
                </a>
                <a class="rounded-full focus:outline-none focus:ring-2 focus:bg-indigo-50 focus:ring-indigo-800 ml-4 sm:ml-8" href="javascript:void(0)">
                    <div class="py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full ">
                        <p>Pending</p>
                    </div>
                </a>
            </div>
            <button onclick="popuphandler(true)" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
                <p class="text-sm font-medium leading-none text-white">Add Task</p>
            </button>
        </div>
        <div class="mt-7 overflow-x-auto">
            <table class="w-full whitespace-nowrap">
                <tbody>
                    <th id="transaction-name"> Transaction Name</th>
                    <th id="transaction-amount"> Amount </th>
                    <th  id="transaction-date"> Date </th>
                    <th  id="transaction-budget"> Budget </th>
                        {% for transaction in transactions%}
                        <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded"> -->
                        <!-- <td>
                            <div class="ml-5">
                                <div class="bg-gray-200 rounded-sm w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
                                    <input placeholder="checkbox" type="checkbox" class="focus:opacity-100 checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                                    <div class="check-icon hidden bg-indigo-700 text-white rounded-sm">
                                        <img src="https://cdn-icons.flaticon.com/png/512/2740/premium/2740618.png?token=exp=1642197774~hmac=2a8811016cb2eafb320860de4c0138f5" alt="check-icon">
                                    </div>
                                </div>
                            </div>
                        </td> -->
                        <!-- <td class="">
                            <div class="flex items-center pl-5">
                                <p class="text-base font-medium leading-none text-gray-700 mr-2">{{transaction.user_transactions_name}}</p> -->
                                <!-- <img src="../svgs/svg1.svg" alt="clip"> -->
                            <!-- </div>
                        </td>
                        <td class="pl-24">
                            <div class="flex items-center"> -->
                               <!-- <img src="../svgs/svg2.svg" alt="tag"> -->
                                <!-- <p class="text-sm leading-none text-gray-600 ml-2">{{transaction.user_transactions_amount}}</p>
                            </div>
                        </td>
                        <td class="pl-5">
                            <div class="flex items-center"> -->
                               <!-- <img src="../svgs/svg3.svg" alt="list"> -->
                                <!-- <p class="text-sm leading-none text-gray-600 ml-2">{{transaction.user_transactions_date}}</p>
                            </div>
                        </td> -->
                        <!-- <td class="pl-5">
                            <div class="flex items-center">
                                <img src="../svgs/svg4.svg" alt="chat">
                                <p class="text-sm leading-none text-gray-600 ml-2">{{transaction.user}}</p>
                            </div>
                        </td>
                        <td class="pl-5">
                            <div class="flex items-center">
                               <img src="../svgs/svg5.svg" alt="paper clip">
                                <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                            </div>
                        </td>
                        <td class="pl-5">
                            <button class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded">Due today at 18:00</button>
                        </td> -->
                        <!-- <td class="pl-4">
                            <button class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none">View</button>
                        </td>
                        <td>
                            <div class="relative px-5 pt-2">
                                <button class="focus:ring-2 rounded-md focus:outline-none" onclick="dropdownFunction(this)" role="button" aria-label="option"> -->
                                   <!-- <img  class="dropbtn" onclick="dropdownFunction(this)" src="../svgs/svg6.svg" alt="dropdown"> -->
                                <!-- </button>
                                <div class="dropdown-content bg-white shadow w-24 absolute z-30 right-0 mr-6 hidden">
                                    <div tabindex="0" class="focus:outline-none focus:text-indigo-600 text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white">
                                        <p>Edit</p>
                                    </div>
                                    <div tabindex="0" class="focus:outline-none focus:text-indigo-600 text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white">
                                        <p>Delete</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                        {% endfor %}
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .checkbox:checked + .check-icon {
        display: flex;
    }
</style> -->



<!-- <canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    let transactions = []
    let myChart;

    fetch("/transactions").then(data=>data.json()).then(res=> transactions.push(res))

   console.log('TRANSACTIONS', transactions)
    function populateChart() {
  // copy array and reverse it
  let reversed = transactions.slice().reverse();
  let sum = 0;

  // create date labels for chart
  let labels = reversed.map(t => {
    let date = new Date(t.transaction_date);
    console.log('DATAE', date)
    return `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}`;
  });

  // create incremental values for chart
  let data = reversed.map(t => {
    sum += parseInt(t.value);
    return sum;
  });

  // remove old chart if it exists
  if (myChart) {
    myChart.destroy();
  }

  let ctx = document.getElementById("myChart").getContext("2d");

  myChart = new Chart(ctx, {
    type: 'line',
      data: {
        labels,
        datasets: [{
            label: "Total Over Time",
            fill: true,
            backgroundColor: "#6666ff",
            data
        }]
    }
  });
}

populateChart()
</script> -->

<!-- FORM SECTION -->
<!-- <h2 class="text-2xl font-medium leading-tight mt-0 mb-2 text-teal-500" > Add New Transaction</h2>

<form action="/transactions" method="POST">
  <div class="shadow overflow-hidden sm:rounded-md">
    <div class="px-4 py-5 bg-white sm:p-6">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-3">
          <label for="user_transaction_name" class="block text-sm font-medium text-gray-700"> Transaction Name</label>
          <input type="text" name="user_transaction_name" id="user_transaction_name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>

        <div class="col-span-6 sm:col-span-3">
          <label for="user_transaction_amount" class="block text-sm font-medium text-gray-700"> Transaction Amount</label>
          <input type="number" name="user_transaction_amount" id="user_transaction_amount" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>

        <div class="col-span-8">
          <label for="user_transaction_date" class="block text-sm font-medium text-gray-700"> Transaction Date</label>
          <input type="date" name="user_transaction_date" id="user_transaction_date" autocomplete="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"> </input>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <label for="budget" class="block text-sm font-medium text-gray-700">Budget</label>
          <select id="budget" name="budget" autocomplete="user_transaction_frequency-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                {% for budget in budgets%}
                    <option>
                        {{budget.budget_name}}
                    </option>
                {% endfor %}
          </select>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
          <select id="category" name="category" autocomplete="user_transaction_category-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            {% for category in categories%}
            <option>{{category.category_name}}</option>
            {% endfor %}
          </select>
        </div>
        
      </div>
    </div>
    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
      <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save
      </button>
    </div>
  </div>
</form>

<div class="shadow-lg rounded-lg overflow-hidden"> -->
<!-- <div class="py-3 px-5 bg-gray-50">Bar chart of your spending</div>
<canvas class="p-10" id="chartBar"></canvas> -->
<!-- </div> -->
  
  <!-- Required chart.js -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
  
  <!-- Chart bar -->
  <!-- <script>
    const labelsBarChart = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
    ];
    const dataBarChart = {
      labels: labelsBarChart,
      datasets: [
        {
          label: "My First dataset",
          backgroundColor: "hsl(252, 82.9%, 67.8%)",
          borderColor: "hsl(252, 82.9%, 67.8%)",
          data: [0, 10, 5, 2, 20, 30, 45],
        },
      ],
    };
  
    const configBarChart = {
      type: "bar",
      data: dataBarChart,
      options: {},
    };
  
    var chartBar = new Chart(
      document.getElementById("chartBar"),
      configBarChart
    );
  </script>  -->
<!-- <div class="shadow-lg rounded-lg overflow-hidden">
    <div class="py-3 px-5 bg-gray-50">Doughnut chart</div>
    <canvas class="p-10" id="chartDoughnut"></canvas>
</div> -->
  
  <!-- Required chart.js -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
  
  <!-- Chart doughnut -->
  <!-- <script>
    const dataDoughnut = {
      labels: ["JavaScript", "Python", "Ruby"],
      datasets: [
        {
          label: "My First Dataset",
          data: [300, 50, 100],
          backgroundColor: [
            "rgb(133, 105, 241)",
            "rgb(164, 101, 241)",
            "rgb(101, 143, 241)",
          ],
          hoverOffset: 4,
        },
      ],
    };
  
    const configDoughnut = {
      type: "doughnut",
      data: dataDoughnut,
      options: {},
    };
  
    var chartBar = new Chart(
      document.getElementById("chartDoughnut"),
      configDoughnut
    );
  </script> -->

  <!-- <script>
      function dropdownFunction(element) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    let list = element.parentElement.parentElement.getElementsByClassName("dropdown-content")[0];
    list.classList.add("target");
    for (i = 0; i < dropdowns.length; i++) {
        if (!dropdowns[i].classList.contains("target")) {
            dropdowns[i].classList.add("hidden");
        }
    }
    list.classList.toggle("hidden");
}
  </script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script> -->

<h3 class="text-3xl font-medium leading-tight mt-0 mb-2 text-blue-600"> Suggested for you:</h3>

<div class="flex flex-wrap -mx-1 lg:-mx-4">
    {% set count = namespace(value=0) %}
    <!-- {% set budget_count = namespace(value=0) %}
    {% for budget in budgets%}
        {% set budget_count.value = budget_count.value + 1 %}
    {% endfor %} -->
      {% for item in users_advice%}
         <!-- Column -->
         <!-- {{item}} -->
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

        <!-- Article -->
        <article class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <button class="no-underline text-grey-darker hover:text-red-dark self-end p-4" href="#" onclick="saveAdvice(event)">
            <span class="">Add</span>
            
            <i class="fa fa-heart text-red-400 hover:text-red-500"></i>
            <!-- TODO
              Add tooltip: https://tailwind-elements.com/docs/standard/components/tooltip/
            -->
          </button>
            <a target="_blank" href="https://www.walmart.com/search?q={{item.advice_info_id}}">
                <img alt="Placeholder" class="block h-auto w-full" src="{{item.advice_img}}">
            </a>

            <header class="flex direct flex-col justify-between leading-tight p-1">
              <h3 id="price" class="text-grey-darker text-md font-black p-2">
                ${{item.advice_price}}
              </h3> 
              <h2 class="text-md p-2">
                    <a class="no-underline hover:underline text-black font-medium"  target="_blank" href="https://www.walmart.com/search?q={{item.advice_info_id}}">
                        {{item.advice_name}}
                        
                    </a>
                </h2>
                
            </header>

            <footer class="flex flex-col items-center justify-between leading-none p-1">
              <p class="ml-2 text-sm p-2">
                {{item.advice_description|truncate(200, True)}}
              </p>
              <p class="ml-2 text-sm p-2" >
                {% set budget_count = namespace(value=0) %}

                {% for budget in budgets%}

                <!-- {{budget.budget_amount}} -->

                <p class="formula ml-2 text-sm p-2">
                  {% if percentages[budget_count.value][count.value] >100 %} 
                  <span class="text-red-500"> {{percentages[budget_count.value][count.value]}}%  </span>
                  of your {{budget.budget_frequency}} {{budget.budget_name}}budget</p>
                  {% elif percentages[budget_count.value][count.value] < 100 and percentages[budget_count.value][count.value] > 50 %}
                  <span class="text-yellow-500"> {{percentages[budget_count.value][count.value]}}%</span>
                  of your {{budget.budget_frequency}} {{budget.budget_name}} budget</p>
                  {% else %}
                  <span class="text-green-500"> {{percentages[budget_count.value][count.value]}}%</span>
                  of your {{budget.budget_frequency}} {{budget.budget_name}} budget</p>
                  {% endif %}
                {% set budget_count.value = budget_count.value + 1 %}

                {% endfor %}
                
                {% set count.value = count.value + 1 %}
              </p> 
            </footer>

        </article>
        <!-- END Article -->

    </div>
    <!-- END Column -->
    
    {% endfor %}
     
  </div>
  <script>
      sendTransaction=()=>{
        let user_transactions_name = document.querySelector('#tname').value
        let user_transactions_date = document.querySelector('#tdate').value
        let user_transactions_amount = document.querySelector('#tamount').value
        let budget = document.querySelector('#budget').value
        let category = document.querySelector('#category').value
        
        payload= {
            user_transactions_name,
            user_transactions_date,
            user_transactions_amount,
            user_transactions_processed: true,
            budget, 
            category
        }

        fetch('/transactions', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json'
            },
            mode: 'same-origin',
            body: JSON.stringify(payload)
        }).then(data=>console.log('DATA', data))
        generateAdvice()
      }
      
      generateAdvice = ()=>{
        let user_transactions_name = document.querySelector('#tname').value
          fetch('http://localhost:5000?' + new URLSearchParams({
    query: user_transactions_name,
   
})
          )}
          
 </script>

<script  data-user={{user.user_id}}>
  console.log('USER', document.currentScript.getAttribute("data-user"))
const user_id=document.currentScript.getAttribute("data-user")
saveAdvice=(e)=>{
let user_transactions_name= e.path[3].children[0].children[2].children[1].children[0].innerHTML.trim()
let user_transactions_amount = parseInt(e.path[3].children[0].children[2].children[0].innerHTML.trim().substring(1))
let user_transactions_date = new Date(Date.now()).toISOString()
let user_transactions_processed = false 
let budget = null
let category = null
data={
user_transactions_name,
user_transactions_amount,
user_transactions_date,
budget, 
category,
user_id, 
user_transactions_processed:false,
}
fetch('/transactions',{
method: "POST",
mode: "no-cors",
headers:{"Content-Type": "application/json"},
body: JSON.stringify(data)
})
}
</script>
{% endblock %}