<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Myntwise</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  <script src="https://kit.fontawesome.com/234094c5cb.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

  <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">

  <style>
    .dropdown:hover .dropdown-menu {
      display: block;
    }
    :root{
      background: inherit;
    }
  </style>
</head>
<body>
  <div id="root"></div>
  <script data-user={{session["user_email"]}}>
    let user = document.currentScript.getAttribute('data-user')
  </script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>