{% extends "base.html" %} 
{% block title %} Home {% endblock %}
{% block javascript%}

{% endblock %}
{% block styles %}

{% endblock %}


{% block content %}


<h2 class="text-4xl font-medium leading-tight mt-0 mb-2 text-teal-500">
    View Deals {% if session['user_email'] %} {{session['user_email']}} {% endif %}
</h2>

<br>

<div class="container my-12 mx-auto px-4 md:px-12">
  <section> 
        
    <div class="flex flex-wrap">
      <div class="w-full text-left">
        <button class="bg-teal-500 text-white active:bg-teal-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="openPopover(event,'popover-id')">
          Price
        </button>
        <div class="hidden bg-teal-600 border-0 ml-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg p-5" id="popover-id">
          <div class="relative pt-1">
        
            <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<style>
  input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
  }
</style> 
<div class="flex justify-center items-center">
  <div x-data="range()" x-init="mintrigger(); maxtrigger()" class="relative max-w-xl w-full">
    <div>
      <input
            id="min"
            type="range"
             name="min"
             x-bind:min="min" x-bind:max="max"
             x-on:input="mintrigger"
             x-model="minprice"
             class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">

      <input 
            id="max"
            type="range" 
             name="max"
             x-bind:min="min" x-bind:max="max"
             x-on:input="maxtrigger"
             x-model="maxprice"
             class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
      
      <div class="relative z-10 h-2">

        <div class="absolute z-10 left-0 right-0 bottom-0 top-0 rounded-md bg-gray-200"></div>

        <div class="absolute z-20 top-0 bottom-0 rounded-md bg-green-300" x-bind:style="'right:'+maxthumb+'%; left:'+minthumb+'%'"></div>

        <div class="absolute z-30 w-6 h-6 top-0 left-0 bg-green-300 rounded-full -mt-2 -ml-1" x-bind:style="'left: '+minthumb+'%'"></div>

        <div class="absolute z-30 w-6 h-6 top-0 right-0 bg-green-300 rounded-full -mt-2 -mr-3" x-bind:style="'right: '+maxthumb+'%'"></div>
 
      </div>

    </div>
    
    <div class="flex justify-between items-center py-5">
      <div>
        <input type="text"  x-on:input="mintrigger" x-model="minprice" class="px-3 py-2 border border-gray-200 rounded w-24 text-center">
      </div>
      <div>
        <input type="text" x-on:input="maxtrigger" x-model="maxprice" class="px-3 py-2 border border-gray-200 rounded w-24 text-center">
      </div>
    </div>
    
  </div>

<script data-min = {{prices|min}} data-max= {{prices|max}}>
   let min_num = document.currentScript.getAttribute('data-min') || (new URL(document.location)).searchParams.get('min')
   let max_num = document.currentScript.getAttribute('data-max') || (new URL(document.location)).searchParams.get('max')
   console.log()
   function range() {
        return {
          minprice: min_num, 
          maxprice: max_num,
          min: min_num, 
          max: max_num,
          // minthumb: 0,
          // maxthumb: 0, 
          
          mintrigger() {   
            this.minprice = Math.min(this.minprice, this.maxprice);      
            this.minthumb = ((this.minprice - this.min) / (this.max - this.min)) * 100;
          },
           
          maxtrigger() {
            this.maxprice = Math.max(this.maxprice, this.minprice); 
            this.maxthumb = 100 - (((this.maxprice - this.min) / (this.max - this.min)) * 100);    
          }, 
        }
    }
</script>
</div>
            <!-- <input
              type="range"
              class="
                form-range
                appearance-none
                w-full
                h-6
                p-0
                bg-transparent
                focus:outline-none focus:ring-0 focus:shadow-none
              "
              min=
              max={{prices|max}}
              id="customRange2"
            /> -->
            <button onclick="
            priceQuery()
            console.log('res')
            " type="button" class="inline-block px-4 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">View Results</button>
          </div>
        </div>

        <!-- <button class="bg-teal-500 text-white active:bg-teal-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="openPopover(event,'popover-id2')">
          Category
        </button>
        <div class="hidden bg-teal-600 border-0 ml-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg p-5" id="popover-id2">
          <div>
            <ul class="">
              {% for category in categories %}
                  <a href="/category/{{category.category_id}}"><li class="block text-teal-500 hover:text-teal-900 mr-4"> {{category.category_name}}</li></a>
              {% endfor%}
          </ul> -->
            <!-- <button type="button" class="inline-block px-4 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Button</button> -->

          <!-- </div>
        </div>
 -->
      
      </div>
    </div>
  <div>

  </section>
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    {% set count = namespace(value=0) %}
    <!-- {% set budget_count = namespace(value=0) %}
    {% for budget in budgets%}
        {% set budget_count.value = budget_count.value + 1 %}
    {% endfor %} -->
      {% for item in advice%}
         <!-- Column -->
         <!-- {{item}} -->
      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

        <!-- Article -->
        <article class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <button class="no-underline text-grey-darker hover:text-red-dark self-end p-4" href="#" onclick="saveAdvice(event)">
            <span class="">Add</span>
            
            <i class="fa fa-heart text-red-400 hover:text-red-500"></i>
            <!-- TODO
              Add tooltip: https://tailwind-elements.com/docs/standard/components/tooltip/
            -->
          </button>
            <a target="_blank" href="https://www.walmart.com/search?q={{item.advice_info_id}}">
                <img alt="Placeholder" class="block h-auto w-full" src="{{item.advice_img}}">
            </a>

            <header class="flex direct flex-col justify-between leading-tight p-1">
              <h3 id="price" class="text-grey-darker text-md font-black p-2">
                ${{item.advice_price}}
              </h3> 
              <h2 class="text-md p-2">
                    <a class="no-underline hover:underline text-black font-medium"  target="_blank" href="https://www.walmart.com/search?q={{item.advice_info_id}}">
                        {{item.advice_name}}
                        
                    </a>
                </h2>
                
            </header>

            <footer class="flex flex-col items-center justify-between leading-none p-1">
              <p class="ml-2 text-sm p-2">
                {{item.advice_description|truncate(100, True)}}
              </p>
              <p class="ml-2 text-sm p-2" >
                {% set budget_count = namespace(value=0) %}

                {% for budget in budgets%}

                <!-- {{budget.budget_amount}} -->

                <p class="formula ml-2 text-sm p-2">
                  {% if percentages[budget_count.value][count.value] >100 %} 
                  <span class="text-red-500"> {{percentages[budget_count.value][count.value]}}%  </span>
                  of your {{budget.budget_frequency}} {{budget.budget_name}}budget</p>
                  {% elif percentages[budget_count.value][count.value] < 100 and percentages[budget_count.value][count.value] > 50 %}
                  <span class="text-yellow-500"> {{percentages[budget_count.value][count.value]}}%</span>
                  of your {{budget.budget_frequency}} {{budget.budget_name}} budget</p>
                  {% else %}
                  <span class="text-green-500"> {{percentages[budget_count.value][count.value]}}%</span>
                  of your {{budget.budget_frequency}} {{budget.budget_name}} budget</p>
                  {% endif %}
                {% set budget_count.value = budget_count.value + 1 %}

                {% endfor %}
                
                {% set count.value = count.value + 1 %}
              </p> 
            </footer>

        </article>
        <!-- END Article -->

    </div>
    <!-- END Column -->
    
    {% endfor %}
     
  </div>
  </div>




<br>
<br>



  <br>
  <br>
  <script>
    function openPopover(event,popoverID){
      let element = event.target;
      while(element.nodeName !== "BUTTON"){
        element = element.parentNode;
      }
      var popper = Popper.createPopper(element, document.getElementById(popoverID), {
        placement: 'bottom'
      });
      document.getElementById(popoverID).classList.toggle("hidden");
    }
  </script>
  
  <script> 

  function priceQuery(){
    let max = document.getElementById('max').value
    let min = document.getElementById('min').value
    window.location=`/price?min=${min}&max=${max}`
    // console.log(min, max)
  }
  </script>
  
{% endblock %}